nav.navbar.navbar-expand-lg.navbar-light.bg-light
	if (result)
		- var sortedDocByDate = result[0].data.sort(function(a,b){ if (new Date(a.date)<new Date(b.date)) { return -1; } else { return 1; } })
		- var dateobjs = sortedDocByDate.map(function(c){return {date:new Date(c.date), ind:c.index}})
		- var dates = sortedDocByDate.map(function(c){return new Date(c.date)})
		- var indexes = sortedDocByDate.map(function(c){return c.index})
	if (result)
		a.navbar-brand(href="#") #{result[0].patient}
			h6.subtitle #{appTitle}
	else
		
		a.navbar-brand(href="/")
			h6.subtitle #{appTitle}
		a.nav-link(role="button", href="/view/sophiabushman")
			span Example
	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="menu")
		span.navbar-toggler-icon
	if (result)
		div.collapse.navbar-collapse#navbarSupportedContent
			ul.navbar-nav.mr-auto
				li.nav-item
					if (result)
						if (!edit)
							a.nav-link(role="button", href="/login")
								span Login 
						else
							a.nav-link(role="button", href="/logout")
								span Logout 
					else
						if (!edit)
							a.nav-link(role="button", href="/view/sophiabushman")
								span Example
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle#navbarDropdown(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Show / Hide Values
					div.dropdown-menu.panel.panel-default(aria-labelledby="navbarDropdown")
						div.dropdown-item
							div.panel-body
								ul.list-group(aria-labelledby="dropdownMenu1", style="max-height: 300px; overflow: hidden; overflow-y: scroll;")
									
									each cat, i in data
										li.list-group-item
											div.input-group
												input.revealvalue(type="checkbox", aria-label= cat.key, id="reveal_"+cat.key+"", checked=(cat.vis ? "true":null))
												span &nbsp
												label(for="reveal_"+cat.key) #{cat.key.replace('per_', '%')}
						if (session && session.user && session.user.username === result[0].patient)
							div.dropdown-divider Add Data
							
							div.dropdown-item.form-group
								div.col-xs-12.input-group
									a.btn.btn-block.btn-default#hideedit(role="button", onclick="document.getElementById('modal_edit').style.display = 'block'; document.getElementById('modal_new').style.display = 'none'; ", aria-label="Add new Data")
										span Edit Data
							div.dropdown-item.form-group
								div.col-xs-12.input-group
									a.btn.btn-block.btn-default#hidenew(role="button", onclick="document.getElementById('modal_edit').style.display = 'none'; document.getElementById('modal_new').style.display = 'block'; ", aria-label="Edit existing Data")
										span Add Data
				li.nav-item#modal_new(style="display: none; max-height: 300px; overflow-y: scroll;")
					form.form-inline.navbar-form.navbar-left(action="/api/add/"+result[0].patient+"/"+result[0].data.length+"", method="POST", role="form", enctype="multipart/form-data")
						div.col-xs-12
							div.row
								div.col-xs-12.new.container-fluid
									h6 Enter Date:
									div.form-group.panel.panel-default
										div.input-group.date#new_date
											input.form-control.btn-block(type="text", name="date", data-provide="datepicker", value= new Date())
											span.input-group-addon
												span.i.fa.fa-calendar(aria-hidden="true")
									p &nbsp
									
							
								each mea, j in data
									div.col-xs-12.col-sm-6.col-md-4.col-lg-3
									
									
										div.row.container-fluid
											div.col-xs-12.col-sm-8
												label(for= mea.key) #{mea.key.replace('per_', '%').toUpperCase()}
											div.col-xs-12.col-sm-4.input-group
												input.btn-block.form-control(type="number", step="0.1", name= mea.key, value="0")
							
							div.input-group(style="position:sticky;bottom:0;")
								a.btn.btn-secondary.btn-block(role="button", title="Cancel", href="/")
									span Cancel
								a.btn.btn-success.btn-block.submit#submitnew(role="button", title="Submit new")
									span Submit data
							
				li.nav-item#modal_edit(style="display: none; max-height: 300px; overflow-y: scroll;")
					form.form-inline.navbar-form.navbar-left(action="/api/add/"+result[0].patient+"/"+index+"", method="POST", role="form", enctype="multipart/form-data", style="overflow: hidden;overflow-y:scroll")
						div.navbar-text Editing data for 
							- var month = (new Date(data[0].data[index].date).getMonth() + 1)
							- var date = (new Date(data[0].data[index].date).getDate() )
							span #{data[0].data[index].date}
						
						div.input-group#editdate
							label(for="date") Edit date for this entry
							input.form-control.btn-block(type="text", name="date", data-provide="datepicker", value= data[0].data[index].date)
							span.input-group-addon
								span.i.fa.fa-calendar(aria-hidden="true")
						if (result)
							div.input-group.new#choosedate
								if (edit && edit !== 'false')
									label(for="date", style="text-align: right;") Edit a different entry
								else
									label(for="date", style="text-align: right;") View data by date
								
								select.form-control.btn-block(id="date")
									
									each yr, j in dateobjs
										if (yr.ind === index)
											option(value=(new Date(yr)), id="selected_"+yr.ind+"", selected= true)
												span #{yr.date}

										else
											option(value=(new Date(yr)), id="selected_"+yr.ind+"", selected= false)
												span #{yr.date}
									
						div.input-group
							div.row
								each mea, j in data
									
									div.col-xs-12.col-sm-6.col-md-4.col-lg-3
									
									
										div.row.container-fluid.form-group
											div.col-xs-12.col-sm-8
										
												label(for= mea.key) #{mea.key.replace('per_', '%').toUpperCase()}
											div.col-xs-12.col-sm-4.input-group
												input.btn-block.form-control(type="number", step="0.1", name= mea.key, value= mea.data[index].val)
						div.input-group(style="position:sticky;bottom:0;")
							a.btn.btn-secondary.btn-block(role="button", title="Cancel", href="/")
								span Cancel
							a.btn.btn-success.btn-block.submit#submitedit(role="button", title="Submit edits")
								span Submit data
						

script(type="text/javascript").
